TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
BNB_RPC_URL=
POLYMARKET_PRIVATE_KEY=
POLYMARKET_FUNDER_ADDRESS=
PREDICT_FUN_PRIVATE_KEY=
PREDICT_FUN_API_KEY=
PREDICT_FUN_WS_URL=
PREDICT_FUN_COLLATERAL_TOKEN_ADDRESS=
MYRIAD_API_KEY=
MYRIAD_PRIVATE_KEY=
